<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R9H7SDV32E"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R9H7SDV32E');
    </script>
    <title>Ryan Hermes</title>
    <link rel="stylesheet" type="text/css" href="static/index.css" />
    <link rel="icon" href="static/rh.ico">
</head>
<body>
    <!-- Main Header Section -->
    <div id="header">
        <h1 id="name">
            <span id="hi">hi, i'm </span>
            <span id="ryan">Ryan Hermes</span>
        </h1>

        <h2 id="description">
            <span>and I love</span>
            <span id="biz">business</span> <br>
            <span id="plus">+</span> <br>
            <span id="technology">technology</span> <br>
        </h2>

        <div id="contact">
            <p id="email"><a href="mailto:rryanhermes@gmail.com" style="text-decoration: none; color: #328bff;">rryanhermes@gmail.com</a></p>
            <p id="phone">612-469-1552</p>
            <p id="linkedin"><a href="https://www.linkedin.com/in/ryanhermes" style="text-decoration: none; color: #328bff;" target="_blank">www.linkedin.com/in/ryanhermes</a></p>
        </div>

        <a href="/resume.pdf" class="resume-link">psst... here's my resume</a>
    </div>

    <!-- Work Links Section on the Right Side -->
    <div id="work-links">
        <h4 id="somethings">Some things I've built:</h4>
        <a href="https://rryanhermes.github.io/StartupShuffler/" class="work-item" target="_blank">
            <img src="static/StartupShuffler.png" alt="StartupShuffler">
            <p>StartupShuffler: Discovering seed and pre-seed startups can be easy and fun</p>
        </a>
        <a href="https://chromewebstore.google.com/detail/scout-ai/dbejpjnffdchjpcekapojgahfbdamjki?hl=en" class="work-item" target="_blank">
            <img src="static/Scout AI.png" alt="Scout AI">
            <p>Scout AI: Enhance your web browsing experience</p>
        </a>
        <a href="https://www.kaggle.com/code/ryanhermes/tfpm-evaluating-a-defender-s-tackling-ability" class="work-item" target="_blank">
            <img src="static/TFPM.png" alt="TFPM">
            <p>Tackle Factor Predictive Model: Kaggle Competition</p>
        </a>
    </div>
</body>
</html>
